<app-header-activity></app-header-activity>
<div class=" content-container screen-height-container">
  <div class="row">
    <div class="col-lg-4 emails-list">
      <div class="row">
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item active">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-scheduled.png" alt="Scheduled">
            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">K</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Keith Jarvis <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-re-scheduled.png" alt="Re-Scheduled">

            </div>
          </div>
        </div>
        <div class="col-12 row-item">
          <div class="row justify-content-between">
            <div class="col-11 col-lg-10">
              <div class="row">
                <div class="col-auto user-title">
                  <a class="nav-link username-circle" href="#">G</a>
                </div>
                <div class="col-9 col-lg-8 email-title">
                  <h4>Gil N. Crooc <span>some.email@gmail.com</span></h4>
                  <p>GTA, and Surrounding Areas</p>
                  <p class="date-time"><span><img src="assets/images/clock-icon.png" alt="date and time"></span>Sat,
                    Dec
                    15, 2018, 11:00 AM - 12:00 PM</p>
                </div>
              </div>
            </div>
            <div class="col-1 col-lg-2  text-right booking-type">
              <img src="assets/images/sidebar-cancelled.png" alt="Cancelled">

            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="col-lg-8 email-detail">
      <div class="row email-detail-header justify-content-between">

        <div class="col-md-auto order-md-2 email-detail-tools">
          <div class="email-detail-back-btn">
            <img src="assets/images/back-btn.png" alt="Back">
          </div>

          <ul>
            <li><a href="#"><img src="assets/images/cancel-booking.png" alt="Cancel Booking"></a></li>
            <li><a href="#"><img src="assets/images/re-schedule-booking-icon.png" alt="Re-schedule Booking"></a></li>
            <li><a href="#"><img src="assets/images/menu-icon.png" alt="menu"></a></li>
          </ul>
        </div>
        <div class="col-md-8 order-md-1 email-detail-title">
          <div class="row">
            <div class="email-detail-back-btn-ipad">
              <img src="assets/images/back-btn.png" alt="Back">
            </div>
            <div class="col-10">
              <h3>GTA and Surrounding Areas</h3>
              <small>Sat, Dec 15, 2018, 11:00 AM - 12:00 PM</small>

            </div>
          </div>
        </div>
      </div>
      <div class="row email-detail-content justify-content-center">
        <div class="col-md-9 detail-content-container">
          <div class="row">
            <div class="col-12 email-content-header text-center">
              <p>New Booking from</p>
              <h3>Victor Filipov</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 email-content-detail">
              <div class="row">
                <div class="col-md-5">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/schedule-by.png" alt="Schedule By">
                    </div>
                    <div class="col-9">
                      <span>Scheduled by</span>
                      <h3>
                        Customer
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/booking-page.png" alt="Bookign Page">
                    </div>
                    <div class="col-9">
                      <span>Booking page</span>
                      <h3>
                        Mobile5
                      </h3>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/booking-owner.png" alt="Booking owner">
                    </div>
                    <div class="col-9">
                      <span>Booking owner</span>
                      <h3>
                        Victor Filipov
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/company.png" alt="Company">
                    </div>
                    <div class="col-9">
                      <span>Company</span>
                      <h3>
                        Company name
                      </h3>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-md-5">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/attendees.png" alt="Attendees">
                    </div>
                    <div class="col-9">
                      <span>Attendees</span>
                      <h3>
                        Person1 , Person2
                      </h3>
                    </div>
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/location.png" alt="Location">
                    </div>
                    <div class="col-9">
                      <span>Location</span>
                      <h3>
                        Office Address, Ottawa, Canada
                      </h3>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/clock-lg-blue.png" alt="Booking page time">
                    </div>
                    <div class="col-9">
                      <span>Booking page time</span>
                      <h3>
                        Sat, Dec 15, 2018, 11:30 AM - 12:30 PM
                      </h3>
                      <small>Canada; Eastern Time (Torronto, Montreal, Quebec, Ottawa)(GMT-5:00)</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row detail-row">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/clock-lg-blue.png" alt="Customer time">
                    </div>
                    <div class="col-9">
                      <span>Customer time</span>
                      <h3>
                        Sat, Dec 15, 2018, 11:30 AM - 12:30 PM
                      </h3>
                      <small>Canada; Eastern Time (Torronto, Montreal, Quebec, Ottawa)(GMT-5:00)</small>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-12">
                  <div class="row detail-row notes">
                    <div class="row-icon align-self-center">
                      <img src="assets/images/notes.png" alt="Notes">
                    </div>
                    <div class="col-9">
                      <span>Notes by Victor Filipov</span>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</div>